rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    match /{allPaths=**} {
      allow read: if true;
    }
    
    // Specific rule for results folder
    match /results/{fileName} {
      allow write: if request.auth != null;
    }
    
    // Specific rule for background-images folder
    match /background-images/{fileName} {
      allow write: if request.auth != null;
    }
  }
}
