.dynamic-background{
    background-color: #6B8E23;
    transition: background-color 0.5s ease;
}
.trans-background{
    background-color: rgba(255, 255, 255, 0.5);
}
.set-01{
    background-color: rgb(42, 118, 12);
}
.set-02{
    background-color: rgb(20, 164, 56);
}
.set-03{
    background-color: rgb(92, 192, 238);
}
