.dynamic-background {
    background: url('/AimRV/images/AIM_Hemsedal_2024_AnkiGrothe_45cm_300dpi_094.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh;
    width: 100vw;
}

.trans-background{
    background-color: rgba(255, 255, 255, 0.7);
}

.set-01{
    background-color: rgb(42, 118, 12);
}

.set-02{
    background-color: rgb(20, 164, 56);
}

.set-03{
    background-color: rgb(56, 76, 135);
}

.ulric-button-section-bg {
    background: rgb(56, 76, 135);
    width: 100vw;
}

.set-04{
    background-color: rgb(56, 76, 135);
}

.simple-background {
    background: url('/AimRV/images/AIM_lindvallen_2024_AnkiGrothe_highres_125.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.locked-background {
    background-image: url('/AimRV/images/EE-AIMChallenge24-Uhamn-0171-high.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: sticky;
    background-attachment: fixed;
}

.ulricehamn-bg {
    background: url('/AimRV/images/AIM_lindvallen_2024_AnkiGrothe_highres_155.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.salen-bg {
    background: url('/AimRV/images/AIM_Salen_2024_AnkiGrothe_45cm_300dpi_049.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hemsedal-bg {
    background: url('/AimRV/images/AIM_lindvallen_2024_AnkiGrothe_highres_125.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.kolmarden-bg-1 {
    background: url('/AimRV/images/AIM_Hemsedal_2024_AnkiGrothe_45cm_300dpi_098.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.kolmarden-bg-2 {
    background: url('/AimRV/images/AIM_Hemsedal_2024_AnkiGrothe_45cm_300dpi_100.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.kolmarden-bg-3 {
    background: url('/AimRV/images/AIM_Hemsedal_2024_AnkiGrothe_45cm_300dpi_102.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.kolmarden-bg-4 {
    background: url('/AimRV/images/AIM_Hemsedal_2024_AnkiGrothe_45cm_300dpi_104.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.kolmarden-button-section-bg {
    background: url('/AimRV/images/AIM_Hemsedal_2024_AnkiGrothe_45cm_300dpi_106.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ulric-bg-1 {
    background: url('/AimRV/images/EE-AIMChallenge24-Uhamn-0171-high.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ulric-bg-2 {
    background: url('/AimRV/images/EE-AIMChallenge24-Uhamn-0171-high.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ulric-bg-3 {
    background: url('/AimRV/images/EE-AIMChallenge24-Uhamn-0171-high.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.salen-bg-1 {
    background: url('/AimRV/images/AIM_Hemsedal_2024_AnkiGrothe_45cm_300dpi_025.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.salen-bg-2 {
    background: url('/AimRV/images/AIM_Hemsedal_2024_AnkiGrothe_45cm_300dpi_049.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.salen-bg-3 {
    background: url('/AimRV/images/AIM_Hemsedal_2024_AnkiGrothe_45cm_300dpi_057.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.salen-button-section-bg {
    background: rgb(56, 76, 135);
    width: 100vw;
}

.hemsedal-bg-1 {
    background: url('/AimRV/images/AIM_Hemsedal_2024_AnkiGrothe_45cm_300dpi_025.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hemsedal-bg-2 {
    background: url('/AimRV/images/AIM_Hemsedal_2024_AnkiGrothe_45cm_300dpi_049.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hemsedal-bg-3 {
    background: url('/AimRV/images/AIM_Hemsedal_2024_AnkiGrothe_45cm_300dpi_057.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hemsedal-button-section-bg {
    background: url('/AimRV/images/AIM_Hemsedal_2024_AnkiGrothe_45cm_300dpi_094.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.page_01box {
    padding: 2rem;
}
