.dynamic-background {
    background-image: url('/images/AIM_Hemsedal_2024_AnkiGrothe_45cm_300dpi_049.jpg');
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    transition: opacity 1s ease-in-out; /* Smooth fade transition */
    opacity: 1; /* Fully visible by default */
}
.trans-background{
    background-color: rgba(255, 255, 255, 0.7);
}
.set-01{
    background-color: rgb(42, 118, 12);
}
.set-02{
    background-color: rgb(20, 164, 56);
}
.set-03{
    background-color: rgb(56, 76, 135);
}
.simple-background {
    background: url('/images/AIM_lindvallen_2024_AnkiGrothe_highres_125.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.locked-background {
    background-image: url('/images/EE-AIMChallenge24-Uhamn-0171-high.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ulricehamn-bg {
    background: url('/images/AIM_lindvallen_2024_AnkiGrothe_highres_155.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.salen-bg {
    background: url('/images/AIM_Salen_2024_AnkiGrothe_45cm_300dpi_049.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hemsedal-bg {
    background: url('/images/AIM_lindvallen_2024_AnkiGrothe_highres_125.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.kolmarden-bg {
    background: url('/images/AIM_lindvallen_2024_AnkiGrothe_highres_125.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
