.hemsedal-section {
    height: 90vh;
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.hemsedal-content {
    max-width: 45.5%;
    padding: 2rem;
    z-index: 1;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
}

.hemsedal-spacer {
    max-width: 50%;
}

.hemsedal-button {
    background-color: rgb(56, 76, 135);
    width: 80%;
    height: 100%;
    border: none;
    cursor: pointer;
}

.hemsedal-button:hover {
    background-color: rgb(79, 99, 158);
}

.hemsedal-button-section {
    height: 6vh;
}

.hemsedal-button-align {
    margin-top: 1rem;
}

.hemsedal-time-entry {
    margin-left: 1rem;
    display: block;
    margin-bottom: 0.5rem;
}

.hemsedal-text-block {
    margin: 1.5rem 0;
}

.hemsedal-text-block p.fonts_small {
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
}

.hemsedal-link {
    color: rgb(56, 76, 135);
    text-decoration: none;
    display: inline-block;
    
    &:hover {
        text-decoration: underline;
    }
}
