.page_01{
    width: 100%;
    min-height: 700px;
}
.page_01box{
    width: 100%;
    min-height: 100px;
}
.page_02{
    width: 100%;
    min-height: 500px;
}
.page_02box{
    max-width: 25%;
    min-height: 500px;
}
.page_02top{
    width: 25%;
    min-height: 100px;
}
.pad{
    padding: 64px;
}
.page_03box{
    max-width: 50%;
    min-height: 500px;
}