.flex {
  display: flex;
  align-items: center;
}
.flex_L {
  align-items: start;
}
.flex_AS_E {
  align-self: flex-end;
}
.flex_Ai_E {
  align-items: end;
}
.flex_Ai_SB {
  align-items: space-between;
}
.flex_Ai_SA {
  align-items: space-around;
}
.flex_j_SB {
  justify-content: space-between;
}
.flex_j_SA {
  justify-content: space-around;
}
.flex_j_C {
  justify-content: center;
}
.flex_j_E {
  justify-content: flex-end;
}
.flex_j_R {
  justify-content: start;
}
.flex_js_R {
  justify-self: start;
}
.flex_row {
  flex-direction: row;
}
.flex_rowR {
  flex-direction: row-reverse;
}
.flex_col {
  flex-direction: column;
}
.flex_colR {
  flex-direction: column-reverse;
}
.flex_wrap {
  flex-wrap: wrap;
}

.fonts {
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}
.fonts_huge {
  font-size: 96px;
  font-weight: bold;
  line-height: 1;
}
.fonts_large {
  font-size: 64px;
  font-weight: bold;
  line-height: 1.2;
}
.fonts_medium {
  font-size: 26px;
  font-weight: normal;
  line-height: 1.4;
}
.fonts_medium_B {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.4;
}
.fonts_small {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
}
.fonts_alt {
  letter-spacing: 8px;
  font-weight: normal;
}
.fonts_other {
  font-family: "Aleo", serif;
}

.deco {
  text-decoration: none;
}

.font_white {
  color: white;
}

.font_blue {
  color: rgb(56, 76, 135);
}

.navbar {
  max-width: 1400px;
  max-height: 100px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1000;
}

.navim {
  max-height: 100px;
  min-height: 100px;
  min-width: 150px;
  max-width: 150px;
}

.navbside {
  max-height: 76px;
  min-height: 76px;
  min-width: 800px;
  max-width: 800px;
}

.navbbutton {
  max-height: 25px;
  min-height: 25px;
  min-width: 100px;
  max-width: 100px;
}

/* Base button style */
.button {
  background-color: #B0C4DE; /* Light grayish blue */
  border: none; /* No border */
  border-radius: 20px; /* Rounded corners */
  font-size: 16px; /* Text size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect */
.button:hover {
  background-color: #A3B8CC; /* Slightly brighter grayish blue */
}

/* Base button style */
.button-2 {
  background-color: #B0C4DE; /* Light grayish blue */
  color: rgb(56, 76, 135);
  border: none; /* No border */
  border-radius: 20px; /* Rounded corners */
  font-size: 16px; /* Text size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  padding: 5px 15px; /* Increase padding for a larger button */
  margin: 10px; /* Add margin to space it out */
}

/* Hover effect */
.button-2:hover {
  background-color: #A3B8CC; /* Slightly brighter grayish blue */
}

.drop-button {
  cursor: pointer;
  color: rgb(56, 76, 135) !important;
}

.drop-down {
  background-color: #B0C4DE;
  min-width: 100px;
  border-radius: 20px; /* Rounded corners */
}

.drop-item {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: black;
}

.drop-item:hover {
  background: #f0f0f0;
  border-radius: 20px; /* Rounded corners */
}

.dynamic-background {
  background: url("/images/AIM_Hemsedal_2024_AnkiGrothe_45cm_300dpi_094.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 90vh;
  width: 100vw;
}

.trans-background {
  background-color: rgba(255, 255, 255, 0.7);
}

.set-01 {
  background-color: rgb(42, 118, 12);
}

.set-02 {
  background-color: rgb(20, 164, 56);
}

.set-03 {
  background-color: rgb(56, 76, 135);
}

.ulric-button-section-bg {
  background: rgb(56, 76, 135);
  width: 100vw;
}

.set-04 {
  background-color: rgb(56, 76, 135);
}

.simple-background {
  background: url("/images/AIM_lindvallen_2024_AnkiGrothe_highres_125.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.locked-background {
  background-image: url("/images/EE-AIMChallenge24-Uhamn-0171-high.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: sticky;
  background-attachment: fixed;
}

.ulricehamn-bg {
  background: url("/images/AIM_lindvallen_2024_AnkiGrothe_highres_155.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.salen-bg {
  background: url("/images/AIM_Salen_2024_AnkiGrothe_45cm_300dpi_049.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hemsedal-bg {
  background: url("/images/AIM_lindvallen_2024_AnkiGrothe_highres_125.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.kolmarden-bg-1 {
  background: url("/images/Kolmarden_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.kolmarden-bg-2 {
  background: url("/images/Kolmarden_2.jpg") center center/cover no-repeat fixed;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.kolmarden-bg-3 {
  background: url("/images/Kolmarden_3.jpg") center center/cover no-repeat fixed;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.kolmarden-bg-4 {
  background: url("/images/Kolmarden_4.jpg") center center/cover no-repeat fixed;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.kolmarden-button-section-bg {
  background: url("/images/Kolmarden_5.jpg") center center/cover no-repeat fixed;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ulric-bg-1 {
  background: url("/images/EE-AIMChallenge24-Uhamn-0171-high.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.ulric-bg-2 {
  background: url("/images/EE-AIMChallenge24-Uhamn-0171-high.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.ulric-bg-3 {
  background: url("/images/EE-AIMChallenge24-Uhamn-0171-high.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.salen-bg-1 {
  background: url("/images/AIM_Hemsedal_2024_AnkiGrothe_45cm_300dpi_025.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.salen-bg-2 {
  background: url("/images/AIM_Hemsedal_2024_AnkiGrothe_45cm_300dpi_049.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.salen-bg-3 {
  background: url("/images/AIM_Hemsedal_2024_AnkiGrothe_45cm_300dpi_057.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.salen-button-section-bg {
  background: rgb(56, 76, 135);
  width: 100vw;
}

.hemsedal-bg-1 {
  background: url("/images/AIM_Hemsedal_2024_AnkiGrothe_45cm_300dpi_025.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hemsedal-bg-2 {
  background: url("/images/AIM_Hemsedal_2024_AnkiGrothe_45cm_300dpi_049.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hemsedal-bg-3 {
  background: url("/images/AIM_Hemsedal_2024_AnkiGrothe_45cm_300dpi_057.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hemsedal-button-section-bg {
  background: url("/images/AIM_Hemsedal_2024_AnkiGrothe_45cm_300dpi_094.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.trippeln-bg {
  background: url("/images/AIM_Hemsedal_2024_AnkiGrothe_45cm_300dpi_057.jpg");
  background-size: cover;
  background-position: center;
}

.page_01box {
  padding: 2rem;
}

.ulric-section {
  height: 90vh;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.ulric-content {
  max-width: 45.5%;
  padding: 2rem;
  z-index: 1;
}

.ulric-spacer {
  max-width: 50%;
}

.ulric-button {
  background-color: rgb(56, 76, 135);
  width: 80%;
  height: 6vh;
  border: none;
  cursor: pointer;
}

.ulric-button p {
  line-height: 1;
  margin: 0;
  padding: 0;
}

.ulric-button:hover {
  background-color: rgb(79, 99, 158);
}

.ulric-button-section {
  height: 6vh;
}

.ulric-button-align {
  margin-top: 1rem;
}

.ulric-time-entry {
  margin-left: 1rem;
  display: block;
}

.ulric-text-block {
  margin: 1.5rem 0;
}

.ulric-link {
  color: rgb(56, 76, 135);
  text-decoration: none;
  margin-top: 0.5rem;
  display: inline-block;
}
.ulric-link:hover {
  text-decoration: underline;
}

.salen-section {
  height: 90vh;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.salen-content {
  max-width: 45.5%;
  padding: 2rem;
  z-index: 1;
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
}

.salen-spacer {
  max-width: 50%;
}

.salen-button {
  background-color: rgb(56, 76, 135);
  width: 80%;
  height: 100%;
  border: none;
  cursor: pointer;
}

.salen-button:hover {
  background-color: rgb(79, 99, 158);
}

.salen-button-section {
  height: 6vh;
}

.salen-button-align {
  margin-top: 1rem;
}

.salen-time-entry {
  margin-left: 1rem;
  display: block;
}

.salen-text-block {
  margin: 1.5rem 0;
}

.salen-link {
  color: rgb(56, 76, 135);
  text-decoration: none;
  margin-top: 0.5rem;
  display: inline-block;
}
.salen-link:hover {
  text-decoration: underline;
}

.hemsedal-section {
  height: 90vh;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.hemsedal-content {
  max-width: 45.5%;
  padding: 2rem;
  z-index: 1;
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
}

.hemsedal-spacer {
  max-width: 50%;
}

.hemsedal-button {
  background-color: rgb(56, 76, 135);
  width: 80%;
  height: 100%;
  border: none;
  cursor: pointer;
}

.hemsedal-button:hover {
  background-color: rgb(79, 99, 158);
}

.hemsedal-button-section {
  height: 6vh;
}

.hemsedal-button-align {
  margin-top: 1rem;
}

.hemsedal-time-entry {
  margin-left: 1rem;
  display: block;
  margin-bottom: 0.5rem;
}

.hemsedal-text-block {
  margin: 1.5rem 0;
}

.hemsedal-text-block p.fonts_small {
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
}

.hemsedal-link {
  color: rgb(56, 76, 135);
  text-decoration: none;
  display: inline-block;
}
.hemsedal-link:hover {
  text-decoration: underline;
}

.kolmarden-section {
  height: 90vh;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.kolmarden-content {
  max-width: 45.5%;
  padding: 2rem;
  z-index: 1;
  position: relative;
}

.trans-background {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 10px;
}

.kolmarden-spacer {
  max-width: 50%;
}

.kolmarden-button {
  background-color: rgb(56, 76, 135);
  width: 80%;
  height: 100%;
  border: none;
  cursor: pointer;
}

.kolmarden-button:hover {
  background-color: rgb(79, 99, 158);
}

.kolmarden-button-section {
  height: 6vh;
}

.kolmarden-button-align {
  margin-top: 1rem;
}

.kolmarden-time-entry {
  margin-left: 1rem;
  display: block;
  margin-bottom: 0.5rem;
}

.kolmarden-text-block {
  margin: 1.5rem 0;
}
.kolmarden-text-block p {
  margin-bottom: 1rem;
  line-height: 1.5;
}
.kolmarden-text-block .fonts_small {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.kolmarden-link {
  color: rgb(56, 76, 135);
  text-decoration: none;
  display: inline-block;
}
.kolmarden-link:hover {
  text-decoration: underline;
}

.trippeln-section {
  height: 90vh;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.trippeln-content {
  max-width: 45.5%;
  padding: 2rem;
  z-index: 1;
}

.trippeln-spacer {
  max-width: 50%;
}

.trippeln-text-block {
  margin: 1.5rem 0;
}

.trippeln-text-block p {
  margin-bottom: 1rem;
}

.footer {
  color: white;
  padding: 20px;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-grid {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
  flex-direction: column;
}

.grid-item {
  flex: 1;
  text-align: center;
}

.footer-heading {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.sponsor-logo,
.partner-logo {
  width: 200px;
  height: 100px;
  border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 0.2s ease-in-out;
}

.sponsor-logo:hover,
.partner-logo:hover {
  transform: scale(1.05);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  flex-wrap: nowrap;
}

.social-icons {
  min-width: 200px;
  display: flex;
  justify-content: space-between;
}

.trademark {
  font-size: 0.9rem;
}

.page_01 {
  width: 100%;
  min-height: 700px;
}

.page_01box {
  width: 100%;
  min-height: 100px;
}

.page_02 {
  width: 100%;
  min-height: 500px;
}

.page_02box {
  max-width: 25%;
  min-height: 500px;
}

.page_02top {
  width: 25%;
  min-height: 100px;
}

.pad {
  padding: 64px;
}

.page_03box {
  max-width: 50%;
  min-height: 500px;
}

.ulric-section {
  height: 90vh;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.ulric-content {
  max-width: 45.5%;
  padding: 2rem;
  z-index: 1;
}

.ulric-spacer {
  max-width: 50%;
}

.ulric-button {
  background-color: rgb(56, 76, 135);
  width: 80%;
  height: 6vh;
  border: none;
  cursor: pointer;
}

.ulric-button p {
  line-height: 1;
  margin: 0;
  padding: 0;
}

.ulric-button:hover {
  background-color: rgb(79, 99, 158);
}

.ulric-button-section {
  height: 6vh;
}

.ulric-button-align {
  margin-top: 1rem;
}

.ulric-time-entry {
  margin-left: 1rem;
  display: block;
}

.ulric-text-block {
  margin: 1.5rem 0;
}

.ulric-link {
  color: rgb(56, 76, 135);
  text-decoration: none;
  margin-top: 0.5rem;
  display: inline-block;
}
.ulric-link:hover {
  text-decoration: underline;
}

.drop-button {
  cursor: pointer;
  color: rgb(56, 76, 135) !important;
}

.drop-down {
  background-color: #B0C4DE;
  min-width: 100px;
  border-radius: 20px; /* Rounded corners */
}

.drop-item {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: black;
}

.drop-item:hover {
  background: #f0f0f0;
  border-radius: 20px; /* Rounded corners */
}

body {
  width: 100vw;
  margin: 0 auto;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(56, 76, 135);
}

p {
  color: black;
}

* {
  margin: 0;
  padding: 0;
}

.location-1 {
  border: #c37272;
  border-width: 3px;
  border-style: solid;
}

.location_2 {
  border: #a072c3;
  border-width: 3px;
  border-style: solid;
}

.MaxWH {
  width: 100%;
  height: 100%;
}

.test {
  border: #c37272;
}/*# sourceMappingURL=index.css.map */